<div *ngIf="message" class="uk-alert-danger" uk-alert>
  <a class="uk-alert-close" uk-close></a>
  <p>{{message}}</p>
</div>
<form [formGroup]="loginForm" (ngSubmit)="login()">
  <fieldset class="uk-fieldset">
    <legend class="uk-legend">Login</legend>
  </fieldset>

  <div class="uk-margin">
    <div class="uk-inline">
      <span class="uk-form-icon" uk-icon="icon: user"></span>
      <input formControlName="login" class="uk-input" type="text" placeholder="Username">
    </div>
  </div>

  <div class="uk-margin">
    <div class="uk-inline">
      <span class="uk-form-icon uk-form-icon-flip" uk-icon="icon: lock"></span>
      <input formControlName="password" class="uk-input" type="password" placeholder="Password">
    </div>
  </div>
  <div class="uk-margin">
    <div class="uk-inline">
        <button type="submit" class="uk-button uk-button-default">Submit</button>
    </div>
  </div>
</form>