<form action="" method="post">
  <fieldset class="uk-fieldset">
    <legend class="uk-legend">Login</legend>
  </fieldset>

  <div class="uk-margin">
    <div class="uk-inline">
      <span class="uk-form-icon" uk-icon="icon: user"></span>
      <input class="uk-input" type="text" placeholder="Username">
    </div>
  </div>

  <div class="uk-margin">
    <div class="uk-inline">
      <span class="uk-form-icon uk-form-icon-flip" uk-icon="icon: lock"></span>
      <input class="uk-input" type="password" placeholder="Password">
    </div>
  </div>
  <div class="uk-margin">
    <div class="uk-inline">
        <button class="uk-button uk-button-default">Submit</button>
    </div>
  </div>
</form>