<nav class="uk-navbar-container" uk-navbar>
  <div class="uk-navbar-left">
    <a class="uk-navbar-item uk-logo" href="#">SnapIt</a>
    <ul class="uk-navbar-nav">
      <li class="uk-active"><a routerLink="accueil">Accueil</a></li>
      <li><a routerLink="galerie">Gallerie</a></li>
      <li class="uk-parent">
        <a href="">Autres</a>
        <div class="uk-navbar-dropdown">
          <ul class="uk-nav uk-navbar-dropdown-nav">
            <li><a href="">test</a></li>
          </ul>
        </div>
      </li>
    </ul>
  </div>
  <div class="uk-navbar-right">
    <ul class="uk-navbar-nav">
      <li class="uk-active"><a href="#">Login</a></li>
    </ul>
  </div>
</nav>
<div class="uk-container uk-margin-top">
  <router-outlet></router-outlet>
</div>