<div class="uk-panel uk-panel-box">
    <h1>Bienvenue sur SnapIt</h1>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
      aliqua. Gravida dictum fusce ut placerat orci nulla pellentesque. Aliquam vestibulum morbi blandit cursus. Vel
      facilisis volutpat est velit egestas dui id. Tellus mauris a diam maecenas sed. Metus dictum at tempor commodo
      ullamcorper a lacus vestibulum sed. Facilisis gravida neque convallis a cras. Sed lectus vestibulum mattis ullamcorper
      velit. Aliquam purus sit amet luctus venenatis lectus magna fringilla urna. Neque sodales ut etiam sit amet nisl
      purus. Tellus in hac habitasse platea dictumst vestibulum rhoncus est pellentesque. Turpis egestas integer eget
      aliquet. Faucibus a pellentesque sit amet porttitor.
    </p>
</div>
